<h1> NFL Teams </h1>

<a href="/home">Home</a> <br />

<table>
  <tr>
    <th>Team Name</th>
  </tr>
  <br />
  <% @teams.each do |team| %>
    <tr>
      <td> <%= team.name %> </td>
    </tr>
  <% end %>
</table>